body{
	background-color: #f5f5f5;
	font-family: Lato, Arial;
}

.logo{
	margin-top: 30px;
}

.small-logo{
	height: 17px;
}

.form-signin{
	margin-bottom: 0;
}

.icon-white{
	
}

.navbar .brand{

    font-size: 13px;
    text-shadow: none;
    color: #1c3c26;
    text-transform: uppercase;
    font-family: 'Lato';

}

.navbar .navbar-inner{
	
}

.navbar-second .navbar-inner{
	// padding-top: 15px;
	padding-top: 10px;
	background: #3ea95f;
	border-color: #3ea95f;
}

.OperationsController .navbar-second .navbar-inner{
	// background: #D14841;
	// border-color: #D14841;
}

.box-it{
    /* padding: 19px 29px 29px; */
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin-top: 20px;
}

.box-it .inner{
	padding: 19px 29px 29px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

h1, h2{
	font-family: 'Lato', sans-serif;
}

.maintitle{
	margin-bottom: 30px;
	background-color: #27324e;
	color: #fff;
	padding: 5px;
	font-size: 23px;
	text-transform: uppercase;
	padding-left: 15px;
}

.navbar-second{
	margin-bottom: 0px;
	border-radius: 5px;
}

.navbar-second .nav > .active > a, .navbar-second .nav > .active > a:hover, .navbar-second .nav > .active > a:focus{
	background: #dcdcdc;
	color: #222;
}

.navbar-second .nav > li > a:focus, .navbar-second .nav > li > a:hover{
	color: #27324e !important;
}

.firsttitle{
	background-color: #27324e;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 0px;
}

.tablepanel{
	padding-left: 0px;
    padding-right: 0px;
}

.tablepanel .panel-heading{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.tablepanel .table th, .tablepanel .table td{
	padding-left: 15px;
	padding-right: 15px;
}

.close-button a:link, .close-button a:visited{
	color: #9e9e9e;
}

.adminindicatorbar{
	background-color: #f37934;
	color: white;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	width: 100%;
	display: block;
}

.editted{
	font-style: italic;
	font-size: 12px;
	color: #868686;
	margin-top: 5px;
}

.grid-item{
	margin-right: 15px;
}

.button-bar{
    margin-top: 0px;
    background-color: #dcdcdc;
    padding-top: 15px;
    padding-bottom: 10px;
}

.panel hr{
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.text-error{
	background-color: #f3d9d9;
	padding: 2px;
	padding-left: 5px;
	border: 1px #e2b3b3 solid;
}

.text-info{
	background-color: #c8e0ec;
    padding: 2px;
    padding-left: 5px;
    border: 1px #8fbcd2 solid;
}

.text-warning{
	background-color: #f3e6d1;
    padding: 2px;
    padding-left: 5px;
    border: 1px #ceaa6c solid;
}

// .firsttitle, .navbar, .navbar-second, .button-bar{
// 	position: fixed;
// 	width: 100%;
// }

// .firsttitle{ top: 0; }
// .navbar{ top: 30px; }
// .navbar-second{ top: 70px; }
// .button-bar{ top: 120px; }

// body{
// 	padding-top: 145px;
// }

.highlight th, .highlight label{
	background-color: #f6ff9d;
}

table .sorter {cursor: ns-resize;}
table tr.sorting-row td {background-color: #27324e;color:#fff;}
table.sorting-table tbody tr:not(.sorting-row) td {opacity: 0.4;}

fieldset{
	margin-bottom: 5px;
}

.select2-container {
    margin-bottom: 10px!important;
}

.filterheader{
	font-size: 12px;
    text-transform: uppercase;
    color: #868686;
    margin-bottom: 3px;
}

.filter-list{
	margin: 0;
	padding: 0;
}

.filter-list li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.filter-list li a:link, .filter-list li a:visited{
	display: block;
	// background-color: #efefef;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.filter-list li a:active, .filter-list li a:hover{
	background-color: #8b909c;
	text-decoration: none;
	color: #fff;
}

.filter-list li.active a{
	display: block;
	background-color: #27324e;
	color: #fff;
}

.filterlistcontainer{
	width: 100%;
}

.print-this{
	padding: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.overlay_graph{
	position: fixed;
    top: 50%; 
    left: 50%;
    height: 600px;
    width: 600px; 
    z-index: 11;
    margin-left: -300px;
    margin-top: -300px;
    padding: 30px;
    background-color: white;
}

.graph_container_overlay{
	width: 600px;
	height: 550px;
}